body {

    cursor: url(resources//css-cursor/Cursor-reloj.png),auto;
    background-image: url(resources/css-fondo/nubesFondo.png);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#menu {
    text-align: center;
}
