*{
	margin: 0;
	padding: 0;
}
body{
	
	width: 100%;
	height: 100vh;
	background-image: url(resources/FondoPorvisional.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.main-content{
	display: block;
	position: relative;
	width: 100%;
	height: 100vh;
}
